<!--The content below is only a placeholder and can be replaced.-->
<div class="success">
  <ul>
     <li> <code> {{'{'}}static: true{{'}'}} </code>query results available in ngOnInit, <code> {{'{'}}static: false{{'}'}}</code> query results available in ngAfterViewInit</li>
     <li>所以 @ViewChild 跟直接引入組件(@ContentChild)使用差在哪？
      差在如果我們在 parent 的模板沒有使用到 {{'<'}}app-child{{'>'}} 的話，@ViewChild 就會無法調用 child 的組件內容。而如果直接引用 child 組件的話，不使用標籤也沒關係。</li>
      <li><img src='../assets/img/img1.PNG'></li>
 </ul>
</div>
<hr>

    <a routerLink="/ContentChild" routerLinkActive="active" >@ContentChild</a>&nbsp;
    <a routerLink="/ViewChild" routerLinkActive="active" >@ViewChild</a>&nbsp;
    <a routerLink="/ContentChildrenTab" routerLinkActive="active" >@ContentChildren - Tab</a>&nbsp;







<router-outlet></router-outlet>
